*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    background-color: white;
    margin-right: auto;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 10px rgba(0, 0, 0, 0.1);
}

.ul-navbar {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: 18px;
    text-align: center;
}

.li-navbar:hover {
    background-color: whitesmoke;
    border-radius: 8px;
}

.a-navbar{
    color: black;
    text-decoration: none;
}


.container-image {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    margin-left: 20px;
    margin-top: 15px;
}

.img-content {
    float: right;
    width: 250px;
    padding: 10px;
}

.container-content {
    display:flex;
    padding: 10px;
    list-style-type:none;
    justify-content:space-evenly;
}


.profile {
    text-align: middle;
    align-items: center;
    padding: 20px;
    font-size: 20px;
}

.education {
    text-align: center;
    font-size: 17px;
}

