*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container-body {
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 10px rgba(0, 0, 0, 0.1);
}

.ul-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-header {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: 18px;
    text-align: center;
}

.li-header:hover {
    background-color: whitesmoke;
    border-radius: 8px;
}

.a-header {
    color: black;
    text-decoration: none;
}

.container-image {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellowgreen;
}

.img-content {
    height: 15em;
    width: 15em;
    float: left;
    padding: 1em;
    margin-right: 15px;
    background-color: maroon;
}

.profile {
    text-align: left;
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: lightgreen;
}

.container-content {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: lemonchiffon;
    width: 100%;
    height: auto;
}

.container-content1 {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:gray;
    width: 100%;
    height: auto;
}

.container-content2 {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: aquamarine;
    width: 100%;
    height: auto;
}

.education {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: seagreen;
    width: 20%;
    height: auto;
}

.education1 {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: blueviolet;
    width: 30%;
    height: auto;
}

.education2 {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: palevioletred;
    width: 30%;
    height: auto;
}

.kolom0 {
    padding: 5px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

.kolom {
    padding: 5px;
    text-align: center;
    background-color: royalblue;
}

.kolom1 {
    padding: 5px;
    text-align: center;
    background-color: gold;
}

.kolom2 {
    padding: 5px;
    text-align: center;
    background-color: darkmagenta;
}

.li-footer {
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
