*,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

.container-body {
    width: 80%;
    height: auto;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
     -5px -5px 10px rgba(0, 0, 0, 0.1);
}

.ul-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
}

.li-header {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: 18px;
    text-align: center;
    background-color:olive;
}

.li-header:hover {
    background-color: whitesmoke;
    border-radius: 8px;
}

.a-header {
    color: black;
    text-decoration: none;
}

.container-image {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: yellowgreen;
}

.img-content {
    height: 15em;
    width: 15em;
    margin: 1em;
    background-color: maroon;
}

.profile {
    display: center;
    font-size: 18px;
    width: 50%;
    height: auto;
    background-color: lightgreen;
}

.container-content {
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: lemonchiffon;
}

.container-content1 {
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:gray;
}

.container-content2 {
    margin: 10px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: aquamarine;
}

.education {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: seagreen;
    width: 50%;
    height: auto;
}

.education1 {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: blueviolet;
    width: 50%;
    height: auto;
}

.education2 {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    text-align: center;
    background-color: palevioletred;
    width: 50%;
    height: auto;
}

.halo {
    margin: 10px;
    padding: 10px;
    text-align: left;
    background-color: rosybrown;
}

.kolom0 {
    padding: 10px;
    margin: 10px;
    text-align: left;
    background-color: wheat;
}

.kolom {
    padding: 15px;
    text-align: center;
    background-color: royalblue;
}

.kolom1 {
    padding: 15px;
    text-align: center;
    background-color: gold;
}

.kolom2 {
    padding: 15px;
    text-align: center;
    background-color: darkmagenta;
}

.smk {
    padding: 3px;
    margin: 5px;
    background-color: burlywood;
}

.smk1 {
    padding: 3px;
    margin: 5px;
    background-color: burlywood;
}

.job {
    padding: 3px;
    margin: 5px;
    background-color: gainsboro;
}

.skill {
    padding: 3px;
    margin: 5px;
    background-color: mediumslateblue;
}

.li-footer {   
    padding: 5px;
    margin: 10px;
    list-style-type: none;
    font-size: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumorchid;
}

.a-footer {
    background-color: azure;
}
